# Ignore junk files.
*.meta

# Remove junk data on folders.
#Game-Src/ProjectSettings
#Game-Src/Temp
#Game-Src/Library

# Any Visual Studio/ MonoDevelop Settings must be ignored.
Game-Src/.vs
*.sln
*.csproj
*.pidb
*.svd
*.userprefs
*.suo
*.user
*.unityproj
*.booproj
*.orig
*.app
*.exe
*.*_data