# Remove junk data on folders.
Game-Src/[Tt]emp/
Game-Src/[Ll]ibrary/

# Any Visual Studio/ MonoDevelop Settings must be ignored.
Game-Src/.vs
*.sln
*.csproj
*.pidb
*.svd
*.userprefs
*.suo
*.user
*.unityproj
*.booproj
*.orig
*.app
*.exe
*.*_data
Library/
.gitignore.gitignore
